/*
h1 {
    background-color: green
}
*/

.img {
    max-height:100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    /*
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-transform: capitalize;
    color: white;
    */
}